<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alliance francaise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/scripts/weaboo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    </head>

<body>
<header>
<nav class="navbar navbar-static-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Niveau de francais</a>
  
  </header>
</nav>
    <div class="container">
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% }) %>
                <% infos.forEach(function(info) { %>
                    <div class="alert alert-info" role="alert">
                        <%= info %>
                    </div>
                    <% }) %>