<!DOCTYPE html>
<html lang="en">

<head>
    <title>Alliance francaise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/scripts/weaboo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    </head>

<body>
<header>
<nav class="navbar navbar-static-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Niveau de francais</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <% if (currentUsuario) { %>
    <li class="nav-item">
        <a class="nav-link" href="/edit">
            Welcome,
            <%= currentUsuario.name() %> <span class="badge badge-pill badge-danger"><%= currentUsuario.usrRole() %></span>
        </a>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Desconnecter</a>
    </li>
        <% } else { %>
    <li class="nav-item">
        <a class="nav-link" href="/login">Reconnecter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/signup">S'inscrire</a>
    </li>
<% } %>
  </div>
  </header>
</nav>
    <div class="container">
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% }) %>
                <% infos.forEach(function(info) { %>
                    <div class="alert alert-info" role="alert">
                        <%= info %>
                    </div>
                    <% }) %>