<% include _header %>

<div class="container" id="marginStudent">
    <h4>Débutante II</h4>
    <% if(!currentUsuario.deb2) { %>
        <form action="/debutante-II" method="POST">
            <ol>
                <!---- primera pregunta --->
                <b><li>Conjuguez les verbes entre parenthèses au présent de l'indicatif.</li></b>
                <br>
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Tu</label>
                            <input name="A1" type="text" class="form-control" placeholder="Descendre">
                            <label>la rue Victor Hugo, tu</label>
                            <input name="B1" type="text" class="form-control" placeholder="Prendre">
                            <label>la deuxième rue à gauche puis tu</label>
                            <input name="C1" type="text" class="form-control" placeholder="Aller">
                            <label>tout droit jusqu'au coin.</label>
                        </div>
                    </div>
                <!---- primera pregunta fin --->
                <br>
                <b><li>Complétez en utilisant un adjectif démonstratif</li></b>
                <p>Ce/Cet/Cette/Ces</p>
                
                <!---- A2 --->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Il est génial</label>
                            <input name="A2" type="text" class="form-control">
                            <label>appartement que tu viens d'acheter !</label>
                        </div>
                    </div>

                    <br>
                    <!---- B2 ---->
                    <div class="form-inline">
                        <div class="input-group">
                            <input name="B2" type="text" class="form-control">
                            <label> personne est vraiment très belle, n'est ce pas!</label>
                        </div>
                    </div>

                    <br>
                    <!---- C2 ---->
                    <div class="form-inline">
                        <div class="input-group">
                            <input name="C2" type="text" class="form-control">
                            <label>étudiants sont bien sympas.</label>
                        </div>
                    </div>

                    <br>
                    <!---- D2 ---->
                    <div class="form-inline">
                        <div class="input-group">
                            <input name="D2" type="text" class="form-control">
                            <label>musée est très beau.</label>
                        </div>
                    </div>
                
                <!---- tercera pregunta ---->
                <br>
                <b><li>Conjuguez les verbes entre parenthèses au présent de l'indicatif</label></b>
                <br>    
                
                    <!---- A3 ---->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Je</label>
                            <input name="A3" type="text" class="form-control" placeholder="Faire">
                            <label>des gâteaux avec ma mère le samedi.</label>
                        </div>
                    </div>

                    <br>
                    <!---- B3 ---->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Tu</label>
                            <input name="B3" type="text" class="form-control" placeholder="Se rèveiller">
                            <label>à quelle heure le matin?</label>
                        </div>
                    </div>
                    
                    <br>
                    <!--- C3 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Il</label>
                            <input name="C3" type="text" class="form-control" placeholder="Se coucher">
                            <label>tard le soir.</label>
                        </div>
                    </div>

                    <br>
                    <!-- D3 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Nous</label>
                            <input name="D3" type="text" class="form-control" placeholder="Écrire">
                            <label>une lettre à nos amis.</label>
                        </div>
                    </div>

                    <br>
                    <!-- E3 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Vous</label>
                            <input name="E3" type="text" class="form-control" placeholder="Venir">
                            <label>chez nous demain?</label>
                        </div>
                    </div>

                    <br>
                    <!-- F3 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Ils</label>
                            <input name="F3" type="text" class="form-control" placeholder="Savoir">
                            <label>parler chinois.</label>
                        </div>
                    </div>
                <br>


                <!-- Cuarta pregunta-->
                <b><li>Choisissez l'article correct: au/l'/à la/à l'/du/de l'/de la</li></b>
                <br>    
                    <!-- A4 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Demain, je vais</label>
                            <select name="A41" class="form-control">
                                <option selected value="au">au</option>
                                <option value="à l'">à l'</option>
                            </select>
                            <label>restaurant</label>
                            <select name="A42" class="form-control">
                                <option selected value="à la">à la</option>
                                <option value="au">Au</option>
                            </select>
                            <label>montagne</label>
                            <select name="A43" class="form-control">
                                <option selected value="à l'">à l'</option>
                                <option value="à la">à la</option>
                            </select>
                            <label>endroit où nous sommes allés en vacances.</label>
                        </div>
                    </div>

                    <br>
                    <!--- B4 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Demain, je fais</label>
                            <select name="B41" class="form-control">
                                <option selected value="du">du</option>
                                <option value="de l'">de l'</option>
                            </select>
                            <label>football le matin,</label>
                            <select name="B42" class="form-control">
                                <option selected value="de la">de la</option>
                                <option value="du">du</option>
                            </select>
                            <label>natation l'après-midi et </label>
                            <select name="B43" class="form-control">
                                <option selected value="de l'">de l'</option>
                                <option value="de la">de la</option>
                            </select>
                            <label>escalade.</label>
                        </div>
                    </div>

                <br>
                <!-- quinta pregunta --->
                <b><li>Mettez cette phrase au féminin</li></b>
                <br>
                <label>C'est un acteur <i>beau, cultivé </i> et <i> généreux.</i></label>
                    <div class="form-inline">
                        <div class="input-group">
                            <label>C'est une actrice</label>
                            <input name="A5" type="text" class="form-control"><label>,</label>
                            <input name="B5" type="text" class="form-control"><label> et </label>
                            <input name="C5" type="text" class="form-control"><label>.</label>
                        </div>
                    </div>

                <br>
                <!--- sexta pregunta -->
                <b><li>Quelle heure est-il?</li></b>
                <br>
                    <!--- A6 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Il est 9h45: </label>
                            <select name="A6" class="form-control">
                                <option selected value="A">Il est dix heures moins le quart.</option>
                                <option value="B">Il est neuf heures moins le quart.</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <!--- B6 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Il est 13h15:</label>
                            <select name="B6" class="form-control">
                                <option selected value="A">Il est douze heures et quarts.</option>
                                <option value="B">Il est une heure et quart.</option>
                            </select>
                        </div>
                    </div>

                <br>
                <!--- septima pregunta -->
                <b><li>Choisissez le bon auxiliaire pour former le passé composé.</li></b>
                <br>
                    <!-- A7 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Je</label>
                            <select name="A71" class="form-control">
                                <option selected value="suis">suis</option>
                                <option value="ai">ai</option>
                            </select>
                            <label>allée en Italie l'année dernière: j' </label>
                            <select name="A72" class="form-control">
                                <option selected value="suis">suis</option>
                                <option value="ai">ai</option>
                            </select>
                            <label>adoré.</label>
                        </div>
                    </div>

                    <br>
                    <!-- B7 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>J'</label>
                            <select name="B71" class="form-control">
                                <option selected value="ai">ai</option>
                                <option value="suis">suis</option>
                            </select>
                            <label>vu la Tour de Pise, j'</label>
                            <select name="B72" class="form-control">
                                <option selected value="ai">ai</option>
                                <option value="suis">suis</option>
                            </select>
                            <label>mangé des pizzas et des pâtes.</label>
                        </div>
                    </div>

                <br>
                <!--- octava pregunta -->
                <b><li>Écrivez le bon participe passé de chaque verbe.</li></b>
                <br>
                    <!--- A8 -> D8 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Il y a deux ans, j'ai </label>
                            <input name="A8" type="text" class="form-control" placeholder="Vivre">
                            <label>au Canada! Pour y aller, j'ai </label>
                            <input name="B8" type="text" class="form-control" placeholder="Prendre">
                            <label>l'avion depuis la France. Là-bas, j'ai </label>
                            <input name="C8" type="text" class="form-control" placeholder="Étudier">
                            <label>dans une grande université de droit international, je me suis</label>
                            <input name="D8" type="text" class="form-control col-6" placeholder="Faire">
                            <label>beaucoup d'amies.</label>
                        </div>
                    </div>

                <br>
                <!--- novena pregunta -->
                <b><li>Mettez ces phrases à la forme négative.</li></b>
                <br>
                    <!--- A9 -->
                    <label><i>Hier je suis partie à la boulangerie pour acheter un pain au chocolat.</i></label>
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Hier</label>
                            <input name="A9" type="text" class="form-control">
                            <label>à la boulangerie pour acheter un pain au chocolat.</label>
                        </div>
                    </div>

                    <br>
                    <!--- B9 -->
                    <label><i>La semaine dernière nous avons couru toute la matinée avec mon chien.</i></label>
                    <div class="form-inline">
                        <div class="input-group">
                            <label>La semaine dernière </label>
                            <input name="B9" type="text" class="form-control">
                            <label>toute la matinée avec mon chien.</label>
                        </div>
                    </div>

                <br>
                <!--- decima pregunta -->
                <b><li>Mettez le pronom interrogatif qui convient: est-ce qu'/ pourquoi / quelle / qu'est-ce que.</li></b>
                <br>
                    <!---- A10 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <select name="A10" class="form-control">
                                <option selected value="A">Quelle</option>
                                <option value="B">Est-ce qu'</option>
                                <option value="C">Pourquoi</option>
                                <option value="D">Qu'est ce que</option>
                            </select>
                            <label>est votre fête préférée dans votre pays?</label>
                        </div>
                    </div>

                    <br>
                    <!---- B10 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <select name="B10" class="form-control">
                                <option selected value="A">Quelle</option>
                                <option value="B">Est-ce qu'</option>
                                <option value="C">Pourquoi</option>
                                <option value="D">Qu'est ce que</option>
                            </select>
                            <label>aimez-vous cette fête?</label>
                        </div>
                    </div>

                    <br>
                    <!---- C10 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <select name="C10" class="form-control">
                                <option selected value="A">Quelle</option>
                                <option value="B">Est-ce qu'</option>
                                <option value="C">Pourquoi</option>
                                <option value="D">Qu'est ce que</option>
                            </select>
                            <label>vous faites durant cette fête?</label>
                        </div>
                    </div>

                    <br>
                    <!--- D10 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <select name="D10" class="form-control">
                                <option selected value="A">Quelle</option>
                                <option value="B">Est-ce qu'</option>
                                <option value="C">Pourquoi</option>
                                <option value="D">Qu'est ce que</option>
                            </select>
                            <label>il y a un rituel spécial?</label>
                        </div>
                    </div>

                <br>
                <!----- Onceava pregunta -->
                <b><li>Regardez l'image et choisissez la bonne réponse</li></b>
                <br>
                    <img src="/imgs/woman.png">
                    <br>
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Elle est</label>
                            <select name="A11" class="form-control">
                                <option selected value="blonde">Blonde</option>
                                <option value="rousse">Rousse</option>
                                <option value="brune">Brune</option>
                            </select>
                        </div>
                    </div>

                <br>
                <!---- doceava pregunta -->
                <b><li>Choisissez la bonne réponse.</li></b>
                <br>
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Hier,</label>
                            <select name="A12" class="form-control">
                                <option selected value="A">je me lève</option>
                                <option value="B">je me suis levé</option>
                            </select>
                            <label>ensuite,</label>
                            <select name="B12" class="form-control">
                                <option selected value="A">j'ai déjeuné</option>
                                <option value="B">je déjeune</option>
                            </select>
                            <label>et</label>
                            <select name="C12" class="form-control">
                                <option selected value="A">je me suis douché</option>
                                <option value="B">je me douche</option>
                            </select>
                            <label>ensuite,</label>
                            <select name="D12" class="form-control">
                                <option selected value="A">je m'habille</option>
                                <option value="B">je me suis habillé</option>
                            </select>
                            <label>et finalement,</label>
                            <select name="E12" class="form-control">
                                <option selected value="A">je suis sorti</option>
                                <option value="B">je sors</option>
                            </select>
                            <label>de chez moi.</label>
                        </div>
                    </div>

                <br>
                <!-- terceava pregunta -->
                <b><li>Choisissez la bonne réponse.</li></b>
                <br>
                    <!--- A13 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>La personne</label>
                            <select name="A13" class="form-control">
                                <option selected value="qui">qui</option>
                                <option value="que">que</option>
                            </select>
                            <label>répond toujours au téléphone est la secrétaire.</label>
                        </div>
                    </div>
                    <br>

                    <!-- B13 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Le tableau</label>
                            <select name="B13" class="form-control">
                                <option selected value="qui">qui</option>
                                <option value="que">que</option>
                            </select>
                            <label>j'ai acheté hier est vraiment joli!</label>
                        </div>
                    </div>
                
                <br>
                <!-- Catorceava pregunta -->
                <b><li>Choisissez entre <i>depuis</i> et <i>il y a</i></li></b>
                <br>
                    <!--- A14 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>J'ai acheté un appartement </label>
                            <select name="A14" class="form-control">
                                <option selected value="depuis">depuis</option>
                                <option value="il y a">il y a</option>
                            </select>
                            <label>deux ans.</label>
                        </div>
                    </div>
                    <br>

                    <!---- B14 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <select name="B14" class="form-control">
                                <option selected value="depuis">Depuis</option>
                                <option value="il y a">Il y a</option>
                            </select>
                            <label>que j'habite à Paris, je prends le métro.</label>
                        </div>
                    </div>

                <br>
                <!--- quinceava pregunta -->
                <b><li>Faites l'accord du participe passé si nécessaire.</li></b>
                <br>
                    <!--- A15 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Le peintre est convaincu que son aquarelle est </label>
                            <select name="A15" class="form-control">
                                <option selected value="A">réussie</option>
                                <option value="B">réussies</option>
                                <option value="C">réussis</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <!---- B15 -->
                    <div class="form-inline">
                        <div class="input-group">
                            <label>Les eaux de cette rivière sont </label>
                            <select name="B15" class="form-control">
                                <option selected value="A">polluée</option>
                                <option value="B">pollués</option>
                                <option value="C">polluées</option>
                            </select>
                            <label>par des déchets toxiques.</label>
                        </div>
                    </div>

                <br>
                <!--- fin debutante II -->
            </ol>

            <input type="submit" value="Siguiente" class="btn btn-success btn-lg" />

        </form>
    <% } else { %>
        <h1>Ya presentaste este nivel</h1>
        <% if(currentUsuario.deb2 >= 35) { %>
            <a class="btn btn-outline-success" href="debutante-III">Continuar en Débutante III</a>
            <br>
        <% } else { %> 
            <a class="btn btn-outline-danger" href="/etudiantes/<%= currentUsuario.username %>">Resultado</a>
            <br>
        <% } %>
    <% } %>
</div>

<% include _footer %>