<% include _header %>
    <div class="jumbotron">
        <h4>Bienvenido a tu examen de francés!</h4>
        <p class="lead">Para comenzar este examen se te exigirá:</p>
        <ul>
            <li>No hacer uso de tu celular durante el transcurso del examen.</li>
            <li>Solamente se te permitirá un intento en el examen, tus datos se irán guardando por lo tanto no se podrá hacer trampa.</li>
            <li>Si se llega encontrar que se intento hacer trampa tu último resultado será anulado y se te asignará el primero que obtuviste.</li>
        </ul>
        <a class="btn btn-outline-danger" href="/debutante-I">Comenzar examen</a>
    </div>
<% include _footer %>