<% include _header %>
<div class="jumbotron">
    <% if(currentUsuario) { %>
        <% if(currentUsuario.resultado) { %> 
            <div class="container">
                <a class="btn btn-success-outline btn-lg" href="/etudiantes/<%= currentUsuario.username %>">Mis resultados</a>
            </div>
        <% } else { %>
            <div class="container">
                <a class="btn btn-danger-outline btn-lg" href="/inicio-examen">Iniciar examen</a>
            </div>
        <% } %>
    <% } else { %>
        <div class="container">
            <h1>Bienvenido!</h1>
            <div class="jumbotron">
            <h4>Por favor sigue las instrucciones a continuación</h4>
            <ol>
                <li>Registrarse en el sistema. <i>Cuida la información que pones debido a que no podrá ser editada.</i></li>
                <li>Iniciar sesión con tu usuario y contraseña.</li>
                <li>Te aparecerá el enlace para realizar el examen, da clic para realizarlo.</li>
                <li>El examen se detendrá hasta el nivel que hayas podido llegar.</li>
            </ol>
            <h5>Bonne chance!</h5>
            <br>
                <div class="row" style="text-align:center;">
                    <div class="col-md-5">
                        <img src="/imgs/studentg.png" width="110" height="110">  
                        <a class="btn btn-primary btn-lg" href="/signup">Registro</a>
                    </div>
                    <div class="col-md-5">
                        <a class="btn btn-success btn-lg" href="/login">Iniciar sesión</a>
                        <img src="/imgs/studentb.png" width="110" height="110">
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>
<% include _footer %>