<% include _header %>
<div class="container">
    <div class="jumbotron">
        <h1>Terminaste Intermédiare I</h1>
        <p class="lead">Concluiste correctamente el nivel de Debutante III</p>
        <div class="form-inline">
            <label><b>Resultado: </b></label>
            <label> <%= currentUsuario.inter1 %></label>
            <label>/12</label>
        </div>
        <% if(currentUsuario.inter1 >= 8) {%> 
            <a class="btn btn-outline-success" href="/intermedio-II">Continuar</a>
        <% } else {%>
            <a class="btn btn-outline-danger" href="/etudiantes/<%= currentUsuario.username %>">Finalizar</a>
        <% } %>
    </div>
</div>
<% include _footer %>