<% include _header %>

<div class="container" id="marginStudent">
    <h4>Intermedio I</h4>
    <% if(!currentUsuario.inter1) { %> 
        <form action="/intermedio-I" method="POST">
            <ol>
                <br>
                <b><li>Répondez à la question en utilisant le pronom Y.</li></b>
                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <label>Tu vas au cinéma demain? Oui,</label>
                        <input name="A1" type="text" class="form-control">
                    </div>
                </div>
                <br>
                <b><li>Choissisez la bonne réponse</li></b>

                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <label>Je n'ai</label>
                        <select name="A3" class="form-control">
                            <option selected value="moins">moins</option>
                            <option value="plus">plus</option>
                            <option value="encore">encore</option>
                        </select>
                        <label>de fraises.</label>
                    </div>
                </div>

                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <label>J'ai</label>
                        <select name="B3" class="form-control">
                            <option selected value="pas">pas</option>
                            <option value="plus">plus</option>
                            <option value="encore">encore</option>
                        </select>
                        <label>de la salade.</label>
                    </div>
                </div>
                <br>
                <b><li>Conjuguez les verbes entre parenthèses à l'imparfait</li></b>
                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <label>Quand j'</label>
                        <input type="text" name="A4" placeholder="être" class="form-control">
                        <label>petite, j'</label>
                        <input type="text" name="B4" class="form-control" placeholder="aller">
                        <label>souvent chez mes grand-parents.</label>
                    </div>
                </div>

                <br>
                <b><li>Choisissez la bonne réponse</li></b>
                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <label>La nourriture chinoise est</label>
                        <select name="A5" class="form-control">
                            <option selected value="meilleur">meilleur</option>
                            <option value="meilleure">meilleure</option>
                            <option value="mieux">mieux</option>
                        </select>
                        <label>que la japonaise.</label>
                    </div>
                </div>

                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <label>Je danse</label>
                        <select name="B5" class="form-control">
                            <option selected value="meilleur">meilleur</option>
                            <option value="meilleure">meilleure</option>
                            <option value="mieux">mieux</option>
                        </select>
                        <label>que ma soeur.</label>
                    </div>
                </div>
                <br>
                <b><li>Complétez avec les pronoms COI ou COD qui conviennent: </li></b>
                <p class="lead">Me/te/le/la/les/l'/nous/vous/lui/leur</p>
                
                <div class="form-inline">
                    <div class="input-group">
                        <label>Hier j'ai téléphoné à mes parents. Je</label>
                        <select name="A6" class="form-control">
                            <option selected value="me">me</option>
                            <option value="te">te</option>
                            <option value="la">la</option>
                            <option value="le">le</option>
                            <option value="les">les</option>
                            <option value="l'">l'</option>
                            <option value="nous">nous</option>
                            <option value="vous">vous</option>
                            <option value="lui">lui</option>
                            <option value="leur">leur</option>
                        </select>
                        <label>téléphone tous les dimanches. Je</label>
                        <select name="B6" class="form-control">
                                <option selected value="me">me</option>
                                <option value="te">te</option>
                                <option value="la">la</option>
                                <option value="le">le</option>
                                <option value="les">les</option>
                                <option value="l'">l'</option>
                                <option value="nous">nous</option>
                                <option value="vous">vous</option>
                                <option value="lui">lui</option>
                                <option value="leur">leur</option>
                        </select>
                        <label>aime beaucoup, ils</label>
                        <select name="C6" class="form-control">
                                <option selected value="me">me</option>
                                <option value="te">te</option>
                                <option value="la">la</option>
                                <option value="le">le</option>
                                <option value="les">les</option>
                                <option value="l'">l'</option>
                                <option value="nous">nous</option>
                                <option value="vous">vous</option>
                                <option value="lui">lui</option>
                                <option value="leur">leur</option>
                        </select>
                        <label>manque.</label>
                    </div>
                </div>

                <br>
                <b><li>Complétez en utilisant les comparatifs et l'adjectif entre parenthèses</li></b>
                <br>
                <p><i>Norman mesure 1,78 m, Jonathan mesure 1,83 m. (Grand)</i></p>
                <div class="form-inline">
                    <div class="input-group">
                        <label>Jonathan est</label>
                        <select name="A7" class="form-control">
                            <option selected value="A">plus grand que</option>
                            <option value="B">moins grand que</option>
                            <option value="C">aussi grand que</option>
                        </select>
                        <label>Norman.</label>
                    </div>
                </div>
                <br>
                <b><li>Choissisez l'adjectif ou pronom indéfini correct</li></b>
                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <select name="A8" class="form-control">
                            <option selected value="la plupart">La pluplart</option>
                            <option value="aucun">Aucun</option>
                        </select>
                        <label>des gens sont pour l'égalité des genres.</label>
                    </div>
                </div>
                <br>
            </ol>
            <input type="submit" value="Siguiente" class="btn btn-success btn-lg" />
        </form>
    <% } else { %>
        <h1>Ya presentaste este nivel</h1>
        <% if(currentUsuario.inter1 >= 8) { %>
            <a class="btn btn-outline-success" href="intermedio-II">Continuar en Intermedio II</a>
            <br>
        <% } else { %> 
            <a class="btn btn-outline-danger" href="/etudiantes/<%= currentUsuario.username %>">Resultado</a>
            <br>
        <% } %>
    <% } %>
</div>

<% include _footer %>