<% include _header %>
<div class="jumbotron">
<h1>Se connecter</h1>
<form action="/login" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <label>Nom d'utilisateur</label>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Nom d'utilisateur">
                </div>
                <label>Mot de passe</label>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <input type="submit" value="Se connecter" class="btn btn-primary btn-block" />
            </div>
            <div class="col-md-6" style="text-align: center;">
                <img src="/imgs/loginnew.png" width="170" height="170">
            </div>
        </div>
    </div>
</form>
</div>
<% include _footer %>