<% include _header %>

<div class="container" id="marginStudent">
    <h4>Perfecto IV</h4>
    <% if(!currentUsuario.perf4) { %> 
        <form action="/perfecto-IV" method="POST">
            <ol>
                <b><li></li></b>
            </ol>
            <input type="submit" value="Siguiente" class="btn btn-success btn-lg">
        </form>    
    <% } else { %>
        <h1>Ya presentaste este nivel</h1>
        <a class="btn btn-outline-danger" href="/etudiantes/<%= currentUsuario.username %>">Resultado</a>
        <br>
    <% } %>
</div>

<% include _footer %>