<% include _header %>
<div class="jumbotron">
    <h1>Registrement</h1><p><i>Revise sus datos con detenimiento</i></p>
    <br>
    <form action="/signup" method="post">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <label>Nom d'utilisateur</label>
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Nom d'utilisateur" required autofocus/>
            </div>
        </div>
        <div class="col-md-4">
        <label>Mot de passe</label>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Mot de passe" required/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <label>Prénom</label>
            <div class="form-group">
                <input name="nombre" type="text" class="form-control" placeholder="Prénom" required/>
            </div>
        </div>
        <div class="col-md-4">
        <label>Nom paternel</label>
            <div class="form-group">
                <input name="a_paterno" type="text" class="form-control" placeholder="Nom paternel" required/>
            </div>
        </div>
        <div class="col-md-4">
        <label>Nom maternel</label>
            <div class="form-group">
                <input name="a_materno" type="text" class="form-control" placeholder="Nom maternel"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <label>Courrier électronique</label>
            <div class="form-group">
                <input name="correo" type="email" class="form-control" placeholder="Courrier électronique"/>
            </div>
        </div>
        <div class="col-md-4">
        <label>Téléphone</label>
            <div class="form-group">
                <input name="telefono" type="text" class="form-control" placeholder="Téléphone"/>
            </div>
        </div>
    </div>
    <br>
        <input type="submit" value="S'inscrire" class="btn btn-outline-success btn-block" />
    </div>
    </form>
</div>
<% include _footer %>